@page
@model CancherksWebApp.Pages.Admin.AgregarInstalacionModel
@{
    var userRole = @Model.role;
    Layout = userRole == "2569" ? "_AdminLayout" : "_ErrorLayout";

    if (userRole != "2569") Response.Redirect("/ErrorPage");
}

<section class="container px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Agregar Instalación</h3>

    <div class="row"> 
        <div class="col-md-6">
            <formulario>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Ingrese el nombre.">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ubicación</label>
                        <input type="text" class="form-control" id="inputlocation" placeholder="Ingrese la ubicación.">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cantidad Máxima Personas</label>
                        <input type="text" class="form-control" id="inputCantPeople" placeholder="Ingrese la cantidad máxima permitida en la instalación.">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tiempo máximo por reservación</label>
                        <input type="text" class="form-control" id="inputTimeSplitReservation" placeholder="Ingrese el tiempo máximo por reservación permitido.">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        <textarea class="form-control" id="inputDescription" placeholder="Ingrese la descripción." style="height: 100px;"></textarea>
             
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Actividades</label>
                        <div class="checkbox-container full-width">
                            @foreach (var activity in Model.Activities)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@($"checkbox-{activity.Id}")" value="@activity.Id">
                                    <label class="form-check-label" for="@($"checkbox-{activity.Id}")">@activity.Name</label>
                                </div>
                            }
                        </div>
                    </div>


                    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                    <label class="form-label">Foto</label>
                    <div class="file-upload mb-3">
                        
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Agregue una imagen</button>

                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                            <div class="drag-text">
                                <h3>Presione click o arraste la imagen que desea subir.</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remover <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                   
                     <button type="submit" class="btn btn-primary button-gradient full-width">Agregar Instalacion</button>
                   
                </form>

            </formulario>
        </div>
        <div class="col-md-6">
            <label class="mb-3">Disponibilidad</label>
            <div class="accordion" id="daysAccordion">
                @{
                    int index = 0;
                }
                @foreach (var day in Model.Days)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@($"heading-{day.NameDay}-{index}")">
                            <button class="accordion-button @(index == 0 ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse-{day.NameDay}-{index}")" aria-expanded="@(index == 0 ? "true" : "false")" aria-controls="@($"collapse-{day.NameDay}-{index}")">
                                @day.NameDay
                            </button>
                        </h2>
                        <div id="@($"collapse-{day.NameDay}-{index}")" class="accordion-collapse collapse @(index == 0 ? "show" : "")" aria-labelledby="@($"heading-{day.NameDay}-{index}")" data-bs-parent="#daysAccordion">
                            <div class="accordion-body">
                                <label class="form-check-label label-bold"> Inicio</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@($"WeeklyStart-{day.NameDay}-{index}")" value="option1">
                                    <label class="form-check-label" for="@($"WeeklyStart-{day.NameDay}-{index}")">7:00 am </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@($"WeekendsStart-{day.NameDay}-{index}")" value="option2">
                                    <label class="form-check-label" for="@($"WeekendsStart-{day.NameDay}-{index}")">8:00 am</label>
                                </div>
                                <label class="form-check-label label-bold"> Final</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@($"WeeklyEnd-{day.NameDay}-{index}")" value="option1">
                                    <label class="form-check-label" for="@($"WeeklyEnd-{day.NameDay}-{index}")">11:00 pm </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@($"WeekendsEnd-{day.NameDay}-{index}")" value="option2">
                                    <label class="form-check-label" for="@($"WeekendsEnd-{day.NameDay}-{index}")">3:00 pm</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    index++;
                }
            </div>

           
            
        </div>
    </div>

</section>

<modalAdd class="modal" tabindex="-1" id="addInstallation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ATENCIÓN!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Se agregó la instalación correctamente.</p>
            </div>

        </div>
    </div>
</modalAdd>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');
        var addInstallationModal = new bootstrap.Modal(document.getElementById('addInstallation'));

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            addInstallationModal.show();
        });
    });
</script>









