@page
@model CancherksWebApp.Pages.Admin.TableModifyModel
@{
    var userRole = @Model.role;
    Layout = userRole == "2569" ? "_AdminLayout" : "_ErrorLayout";

    if (userRole != "2569") Response.Redirect("/ErrorPage");
}
@section Scripts
    {
    <script src="@Url.Content("~/js/Admin/BuscarInstalacion.js")"></script>
}

<section class="container px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Modificar Instalación</h3>
    <filters class="d-flex align-items-center py-3">

        <dropdown class="dropdown">

            <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" id="dropdownInstallations" data-bs-toggle="dropdown" aria-expanded="false">
                Deporte
            </button>
            <ul class="dropdown-menu custom-dropdown-options" aria-labelledby="dropdownInstallations">
                <li><a class="dropdown-item custom-dropdown-item" data-id="0" href="#" onclick="loadInstallation(0)">Todas</a></li>
                @foreach (var sport in Model.Sports)
                {
                    <li><a class="dropdown-item custom-dropdown-item" data-id="@sport.Id" href="#" onclick="loadInstallation(@sport.Id)">@sport.Name</a></li>
                }
            </ul>
        </dropdown>

    </filters>


    <table class="table" style="margin-top: 1rem;">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Descripción</th>
                <th scope="col">Foto</th>
                <th scope="col">Cant. Máx. Personas</th>
                <th scope="col">Tiempo Máx.</th>
                <th scope="col">Público</th>
                <th scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var installation in Model.Installations)
            {
                <tr data-installation-id="@installation.Id">
                    <td>@installation.Name</td>
                    <td>@installation.Location</td>
                    <td>@installation.Description</td>
                    <td>
                        <img src="/img/@installation.Picture" alt="Imagen" width="50" height="50">
                    </td>
                    <td>@installation.MaxCantPeople</td>
                    <td>@installation.TimeSplitReservation</td>
                    <td>@(installation.isPublic ? "Sí" : "No")</td>
                    <td style="text-align: center;">
                        <a asp-page="/Admin/ModificarInstalacion" asp-route-id="@installation.Id">
                            <i class="bi bi-pencil-square custom-edit" style="cursor:pointer;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>