@page "{Id:min(1)}"
@model CancherksWebApp.Pages.Admin.ModificarInstalacionModel
@{
    var userRole = @Model.role;
    Layout = userRole == "2569" ? "_AdminLayout" : "_ErrorLayout";

    if (userRole != "2569") Response.Redirect("/ErrorPage");
}


<section class="container px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Agregar Instalación</h3>

    <div class="row">
        <div class="col-md-6">
            <div>
                <form method="post" id="installationForm" enctype="multipart/form-data">
                    <input hidden asp-for="Installation.Id"/>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Installation.Name">Nombre</label>
                        <input type="text" class="form-control" asp-for="Installation.Name">
                        <span asp-validation-for="Installation.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Installation.Location">Ubicación</label>
                        <input type="text" class="form-control" asp-for="Installation.Location">
                        <span asp-validation-for="Installation.Location" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Installation.MaxCantPeople">Cantidad Máxima Personas</label>
                        <input type="text" class="form-control" asp-for="Installation.MaxCantPeople">
                        <span asp-validation-for="Installation.MaxCantPeople" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Installation.TimeSplitReservation">Tiempo máximo por reservación</label>
                        <input type="text" class="form-control" asp-for="Installation.TimeSplitReservation">
                        <span asp-validation-for="Installation.TimeSplitReservation" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Installation.Description">Descripción</label>
                        <textarea class="form-control" asp-for="Installation.Description" style="height: 100px;"></textarea>
                        <span asp-validation-for="Installation.Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Acceso</label>
                        <div class="checkbox-container full-width">
                            @{
                                var isPrivateChecked = Model.Installation.isPublic == false ? "checked" : "";
                                var isPublicChecked = Model.Installation.isPublic == true ? "checked" : "";
                            }

                            <div class="form-check form-check-inline radio-item">
                                <input type="radio" name="radioPub" id="private" value="0" asp-for="Installation.isPublic" checked="@isPrivateChecked">
                                <label for="private">Privado</label>
                            </div>

                            <div class="form-check form-check-inline radio-item">
                                <input type="radio" name="radioPub" id="public" value="1" asp-for="Installation.isPublic" checked="@isPublicChecked">
                                <label for="public">Público</label>
                            </div>


                            <span asp-validation-for="Installation.isPublic" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Deportes</label>
                        <div class="checkbox-container full-width">
                            @foreach (var sport in Model.Sports)
                            {
                                var isChecked = sport.Id == Model.SelectedSportId ? "checked" : "";
                                <div class="form-check form-check-inline radio-item">
                                    <input type="radio" name="radio" id="@("radio-" + sport.Id)" value="@sport.Id" @isChecked>
                                    <label for="@("radio-" + sport.Id)">@sport.Name</label>
                                </div>
                            }
                        </div>

                    </div>

                    <label class="form-label">Foto</label>
                    <div class="file-upload mb-3">
                        <button class="file-upload-btn button-disabled" type="button" disabled>Agregue una imagen</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input input-disabled" type='file' disabled>
                            <div class="drag-text">
                                <h3 style="color: grey">Presione click o arraste la imagen que desea subir.</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image" disabled>Remover <span class="image-title">Uploaded Image</span></button>

                            </div>
                        </div>
                    </div>


                    <button type="submit" asp-page-handler="AddInstallation" id="acept" class="btn btn-primary button-gradient full-width">Agregar Instalacion</button>

                </form>

            </div>
        </div>
        <div class="col-md-6">
            <label class="mb-3">Disponibilidad</label>


            <div class="accordion" id="daysAccordion">
                @{
                    int index = 0;
                }
                @foreach (var day in Model.Days)

                {
                    var daySchedule = Model.ScheduleAvailabilities.FirstOrDefault(sa => sa.IdDay == day.Id);

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@($"heading-{day.NameDay}-{index}")">
                            <button class="accordion-button @(index == 0 ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse-{day.NameDay}-{index}")" aria-expanded="@(index == 0 ? "true" : "false")" aria-controls="@($"collapse-{day.NameDay}-{index}")">
                                @day.NameDay
                            </button>
                        </h2>
                        <div id="@($"collapse-{day.NameDay}-{index}")" class="accordion-collapse collapse @(index == 0 ? "show" : "")" aria-labelledby="@($"heading-{day.NameDay}-{index}")" data-bs-parent="#daysAccordion">
                            <div class="accordion-body">
                                <form method="post">

                                    <input type="hidden" asp-for="ScheduleAvailability.IdDay" value="@day.Id">

                                    <label class="form-check-label label-bold">Hora Inicio</label>
                                    <div class="form-check form-check-inline">
                                        <input type="time" value="@daySchedule?.StartTime.ToString("hh\\:mm")" id="startTime-@day.NameDay" class="custom-time-picker">
                                    </div>

                                    <label class="form-check-label label-bold">Hora Final</label>
                                    <div class="form-check form-check-inline">
                                        <input type="time" value="@daySchedule?.EndTime.ToString("hh\\:mm")" id="endTime-@day.NameDay" class="custom-time-picker">
                                    </div>

                                    <div class="d-flex justify-content-center mt-2">
                                        <button type="submit" asp-page-handler="AddSchedule" id="schedule" class="btn btn-primary button-gradient">Agregar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    index++;
                }
            </div>


        </div>

    </div>

</section>

<modalModify class="modal" tabindex="-1" id="modifyInstallation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ATENCIÓN!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Se modificó la instalación correctamente.</p>
            </div>

        </div>
    </div>
</modalModify>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');
        var addInstallationModal = new bootstrap.Modal(document.getElementById('modifyInstallation'));

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            addInstallationModal.show();
        });
    });
</script>