@page
@model CancherksWebApp.Areas.Solicitante.Pages.PublicasModel
@{
    var userRole = @Model.role;
	Layout = userRole == "2569" || userRole == "7415" ? "_RequesterLayout" : "_ErrorLayout";


	if ((userRole != "7415" && userRole != "2569")) Response.Redirect("/ErrorPage");

}

@section Scripts
    {
    <script src="@Url.Content("~/js/Requester/Public.js")"></script>
}
<section class="container-fluid px-5 py-3">

    <h3 style="margin-bottom: 2rem;">Instalaciones </h3>
    <dropdown class="dropdown">
        <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" id="dropdownInstallations" data-bs-toggle="dropdown" aria-expanded="false">
            Selecione un Deporte
        </button>
        <ul class="dropdown-menu custom-dropdown-options" aria-labelledby="dropdownInstallations">

            <li><a class="dropdown-item custom-dropdown-item" data-id="0" href="#" onclick="loadPublicInstallation(0)">Todos</a></li>
            @foreach (var i in Model.sports)
            {
                <li><a class="dropdown-item custom-dropdown-item" data-id="@i.Id" href="#" onclick="loadPublicInstallation(@i.Id)">@i.Name</a></li>
            }
        </ul>

    </dropdown>

    <div id="gridDiv" class="py-5 d-flex flex-wrap gap-3">
        @{
            // <div class="col-6" style="max-width: 640px;">
            //     <div class="card mb-3">
            //         <div class="row g-0">
            //             <div class="col-md-4">
            //                 <img src="~/img/sintetica.jpg" class="img-fluid rounded-start" alt="...">
            //             </div>
            //             <div class="col-md-8">
            //                 <div class="card-body">
            //                     <h5 class="card-title font-weight-bold ">Sintetica</h5>
            //                     <p class="card-text mb-0">Cancha sintética para partivdos 6vs6 de fútbol</p>
            //                     <p class="card-text mb-1 text-primary"><i class="bi bi-geo-fill"></i> Lado sur</p>
            //                     <button type="button" class="btn btn-outline-primary">Consultar</button>

            //                 </div>
            //             </div>
            //         </div>
            //     </div>
            // </div>
        }


    </div>
</section>

<section class ="container-fluid px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Horario de la Semana</h3>

	<p class="codyhouse">Este es el horario de la semana Lunes - Domingo</p>
	<div class="cd-schedule loading">
		<div class="timeline">
			<ul>
				<li><span>07:00</span></li>
				<li><span>07:30</span></li>
				<li><span>08:00</span></li>
				<li><span>08:30</span></li>
				<li><span>09:00</span></li>
				<li><span>09:30</span></li>
				<li><span>10:00</span></li>
				<li><span>10:30</span></li>
				<li><span>11:00</span></li>
				<li><span>11:30</span></li>
				<li><span>12:00</span></li>
				<li><span>12:30</span></li>
				<li><span>13:00</span></li>
				<li><span>13:30</span></li>
				<li><span>14:00</span></li>
				<li><span>14:30</span></li>
				<li><span>15:00</span></li>
				<li><span>15:30</span></li>
				<li><span>16:00</span></li>
				<li><span>16:30</span></li>
				<li><span>17:00</span></li>
				<li><span>17:30</span></li>
				<li><span>18:00</span></li>
			</ul>
		</div> <!-- .timeline -->

		<div class="events">
			<ul class="wrap">
				<li class="events-group">
					<div class="top-info"><span>Lunes</span></div>
					<ul>
					</ul>
				</li>

				<li class="events-group">
					<div class="top-info"><span>Martes</span></div>
					<ul>

					</ul>
				</li>

				<li class="events-group">
					<div class="top-info"><span>Miércoles</span></div>

					<ul>
					</ul>
				</li>

				<li class="events-group">
					<div class="top-info"><span>Jueves</span></div>
					<ul>
					</ul>
				</li>

				<li class="events-group">
					<div class="top-info"><span>Friday</span></div>

					<ul>
					</ul>
				</li>
				<!--        -->
				<li class="events-group">
					<div class="top-info"><span>Sábado</span></div>
					<ul>
                    </ul>
				</li>
				<!--        -->
				<!--        -->
				<li class="events-group">
					<div class="top-info"><span>Sunday</span></div>
					<ul>
					</ul>
				</li>
				<!--        -->
			</ul>
		</div>

		<div class="event-modal">
			<header class="header">
				<div class="content">
					<span class="event-date"></span>
					<h3 class="event-name"></h3>
				</div>

				<div class="header-bg"></div>
			</header>

			<div class="body">
				<div class="event-info"></div>
				<div class="body-bg"></div>
			</div>

			<a href="#0" class="close">Close</a>
		</div>

		<div class="cover-layer"></div>
	</div> <!-- .cd-schedule -->
</section>

