
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Cancherks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CancherksWebApp.styles.css" asp-append-version="true" />
    <link href="~/css/schedulestyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- For the datepicker -->

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-colorMainTrans">
            <div class="container-fluid align-middle">
                <div class="align-middle">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        @* //This could be the link to the inicial app page *@
                        <i class="bi bi-mortarboard-fill"></i>

                        Cancherks
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">


                    @{

                        var reservationArea = false;
                        var myArea = false;

                        var reservation1Active = Context.Request.Path.Value.Contains("/Solicitante/Reservacion");
                        var reservation2Active = Context.Request.Path.Value.Contains("/Solicitante/Publicas");
                        var my1Active = Context.Request.Path.Value.Contains("/Solicitante/MisReservaciones");

                        if (reservation1Active || reservation2Active)
                        {
                            reservationArea = true;
                        }
                        else if (my1Active)
                        {
                            myArea = true;
                        }

                    }

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link @(reservationArea ? "activeNav" : "")" asp-area="Solicitante" asp-page="Reservacion">Reservar y Horarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(myArea ? "activeNav" : "")" asp-area="Solicitante" asp-page="MisReservaciones">Mis Reservaciones</a>
                        </li>
                        @{
                            var userRole = @Model.role;
                            if (userRole == "2569")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="../Admin/GestionSolicitudes">Modo Administrador</a>
                                </li>

                            }
                        }
                    </ul>
                </div>
                <div class="icon-HighContrast text-center align-middle text-black mx-1">
                    <i class="bi bi-eye-fill" alt="Ícono alto contraste" style="font-size: 20px;"></i>
                    <i class="bi bi-zoom-in" alt="Ícono acerca" style="font-size: 20px;"></i>
                    <i class="bi bi-zoom-out" alt="Ícono alejar" style="font-size: 20px;"></i>
                </div>
                <div class="icon-Profile bg-footer text-center align-middle fs-3 text-white" style="margin-left: 20px;">
                    <i class="bi bi-person" alt="Ícono ver perfil"></i>
                </div>



            </div>
        </nav>
    </header>


    <div class="page d-flex flex-row bg-grayContrast">
        <aside class="site-bar bg-white">
            <ul class="d-flex flex-column gap-3 px-0 py-2">
                @* //Aside section for Admin Gestion solicitudes *@
                @if (reservationArea)
                {
                    <li class="py-2  @(reservation1Active ? "inline-active" : "inline-nav-item")">
                        <a class="aside-link" asp-area="Solicitante" asp-page="Reservacion">
                            <i class="bi bi-calendar2-check-fill"></i>
                            Reservar
                        </a>
                    </li>
                    <li class="py-2  @(reservation2Active ? "inline-active" : "inline-nav-item")">
                        <a class="aside-link" asp-area="Solicitante" asp-page="Publicas">
                            <i class="bi bi-people-fill"></i>
                            Públicos
                        </a>
                    </li>

                }
                else if (myArea)
                {
                    <li class="py-2 inline-nav-item @(my1Active ? "inline-active" : "inline-nav-item") ">
                        <a class="aside-link" asp-area="Solicitante" asp-page="MisReservaciones">
                            <i class="bi bi-check2-all"></i>
                            Mis Reservaciones
                        </a>
                    </li>
                }else
                {
                    <li class="py-2 inline-nav-item @(my1Active ? "inline-active" : "inline-nav-item") ">
                        <a class="aside-link" asp-area="Solicitante" asp-page="MisReservaciones">
                            <i class="bi bi-check2-all"></i>
                            Mis Reservasdfasdfasdfaciones
                        </a>
                    </li>
                }

            </ul>

        </aside>
        <div class="content-page w-100">
            <main role="main" class="pb-3">


                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
            Correo: example@itcr.ac.cr Teléfono: 2020-2020

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> <!-- For the datepicker -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- For the datepicker -->
    <script src="~/js/schedulescript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>